<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Window Settings</key>
	<dict>
		<key>Basic</key>
		<dict>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCAAoADXlNGTW9uby1SZWd1bGFy
			0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiFRdYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1JbYmlydHZ4
			h4yXoKeqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>name</key>
			<string>Basic</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Grass</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECAwLjA3NDUwOTgwNyAwLjQ2NjY2NjcgMC4yMzkyMTU3ABAC
			gALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmpl
			Y3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYoWH
			iY6ZoqqttsjL0AAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADS
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEBgwLjU1Njg2Mjc3IDAuMTU2ODYyNzUgMAAQAoAC0hAREhNa
			JGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2J9f4GGkZqipa7A
			w8gAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCAAoADV0NvdXJpZXLSExQVFlok
			Y2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5
			ZWRBcmNoaXZlctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniAhZCZoKOs
			vsHGAAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECEwLjcxMzcyNTUxIDAuMjg2Mjc0NTIgMC4xNDkwMTk2MQAQ
			AoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2Jq
			ZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KG
			iIqPmqOrrrfJzNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEBcxIDAuNjkwMTk2MSAwLjIzMTM3MjU3ABACgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYnx+gIWQmaGkrb/C
			xwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEBgxIDAuOTQxMTc2NTMgMC42NDcwNTg4NAAQAoAC0hAREhNa
			JGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2J9f4GGkZqipa7A
			w8gAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>name</key>
			<string>Grass</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Homebrew</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc00wIDAuODk5OTk5OTgAEAOAAtIQERITWiRjbGFzc25hbWVY
			JGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FIUF1kcnR2e4aPl5qjtbi9AAAAAAAAAQEA
			AAAAAAAAGQAAAAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorBlink</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECEwLjIxOTYwNzg2IDAuOTk2MDc4NDkgMC4xNTI5NDExOAAQ
			AoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2Jq
			ZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KG
			iIqPmqOrrrfJzNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCAAoADWkFuZGFsZU1vbm/SExQV
			FlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05T
			S2V5ZWRBcmNoaXZlctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniDiJOc
			o6avwcTJAAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMs=
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEB4wLjAzNDU3ODM5NSAwIDAuOTEzMjY1MzEgMC42NQAQAYAC
			0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0
			XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KDhYeM
			l6Coq7TGyc4AAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NGMCAxIDAAEAGAAtIQERITWiRjbGFzc25hbWVYJGNsYXNzZXNX
			TlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290
			gAEIERojLTI3O0FITltiaWttcn2GjpGarK+0AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAALY=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECIwLjE1Njg2Mjc1IDAuOTk2MDc4NDkgMC4wNzg0MzEzNzUA
			EAKAAtIQERITWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09i
			amVjdF8QD05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITlti
			h4mLkJukrK+4ys3SAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAANQ=
			</data>
			<key>name</key>
			<string>Homebrew</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Man Page</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECYwLjk5NjA3ODQ5MTIgMC45NTY4NjI4MDczIDAuNjExNzY0
			NzI5ABACgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRY
			TlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztB
			SE5bYouNj5SfqLCzvM7R1gAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AADY
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCAAoADXlNGTW9uby1SZWd1bGFy
			0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiFRdYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1JbYmlydHZ4
			h4yXoKeqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEB4wLjc1IDAuNzIwNDcyNDQ0NSAwLjQ2MDYyOTkxMQAQAoAC
			0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0
			XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KDhYeM
			l6Coq7TGyc4AAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0A==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATS
			EgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xv
			clNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3Ki
			HRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2A
			goSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAAAAAA
			AAAAAAAA/w==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATS
			EgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xv
			clNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3Ki
			HRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2A
			goSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAAAAAA
			AAAAAAAA/w==
			</data>
			<key>name</key>
			<string>Man Page</string>
			<key>rowCount</key>
			<integer>48</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Novel</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEBowLjg3NSAwLjg1Nzk4MzY1IDAuNzY1NjI1ABACgALSEBES
			E1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9O
			U0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYn+Bg4iTnKSn
			sMLFygAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECowLjIyNzQ1MSAwLjEzNzI1NDkxIDAuMTMzMzMzMzQgMC42
			NDk5OTk5OAAQAoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9y
			ohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMt
			Mjc7QUhOW2KPkZOYo6y0t8DS1doAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAA
			AAAAAAAA3A==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AoAAAAAAAAEBCAAoADV0NvdXJpZXLSExQVFlok
			Y2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9udKIVF1hOU09iamVjdF8QD05TS2V5
			ZWRBcmNoaXZlctEaG1Ryb290gAEIERojLTI3PEJLUltiaXJ0dniAhZCZoKOs
			vsHGAAAAAAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECwwLjQ1NDA4MTY1IDAuNDUxMDA0ODkgMC4zMTUxNDM5MSAw
			Ljc1OTk5OTk5ABABgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEa
			Iy0yNztBSE5bYpGTlZqlrra5wtTX3AAAAAAAAAEBAAAAAAAAABkAAAAAAAAA
			AAAAAAAAAADe
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEBswLjUgMC4xNjQzMDA1NSAwLjA5OTE0NTQ3MgAQAYAC0hAR
			EhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAP
			TlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KAgoSJlJ2l
			qLHDxssAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAzQ==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECEwLjIzMzE3MzEyIDAuMTM1NDA4NTcgMC4xMzI5MDYwOAAQ
			AYAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2Jq
			ZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KG
			iIqPmqOrrrfJzNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>name</key>
			<string>Novel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Ocean</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECEwLjEzMjA1NjI0IDAuMzA4NDc4NTYgMC43MzkxMzA0NAAQ
			AYAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2Jq
			ZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KG
			iIqPmqOrrrfJzNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCAAoADXlNGTW9uby1SZWd1bGFy
			0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiFRdYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1JbYmlydHZ4
			h4yXoKeqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEBcwLjEzMDczOTMgMC40Mjg0NTgwNiAxABABgALSEBESE1ok
			Y2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tl
			eWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYnx+gIWQmaGkrb/C
			xwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0IxABADgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIAB
			CBEaIy0yNztBSFBdZGdpa3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0IxABADgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIAB
			CBEaIy0yNztBSFBdZGdpa3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC0
			</data>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Ocean</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Pro</key>
		<dict>
			<key>BackgroundBlur</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc00wIDAuODUwMDAwMDIAEAOAAtIQERITWiRjbGFzc25hbWVY
			JGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNoaXZl
			ctEXGFRyb290gAEIERojLTI3O0FIUF1kcnR2e4aPl5qjtbi9AAAAAAAAAQEA
			AAAAAAAAGQAAAAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0swLjMwMjQxOTM2ABADgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAAC9
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AkAAAAAAAAEBCAAoADVk1vbmFjb9ITFBUWWiRj
			bGFzc25hbWVYJGNsYXNzZXNWTlNGb250ohUXWE5TT2JqZWN0XxAPTlNLZXll
			ZEFyY2hpdmVy0RobVHJvb3SAAQgRGiMtMjc8QktSW2JpcnR2eH+Ej5ifoqu9
			wMUAAAAAAAABAQAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAxw==
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0swLjI1NDAzMjI1ABADgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAAC9
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0IxABADgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIAB
			CBEaIy0yNztBSFBdZGdpa3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0swLjk0NzU4MDY0ABADgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAAC9
			</data>
			<key>name</key>
			<string>Pro</string>
			<key>shellExitAction</key>
			<integer>2</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>ProTransparent</key>
		<dict>
			<key>BackgroundBlur</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEC8wLjA1NDk2MzQ4NTA1IDAuMDU0OTYzNDg1MDUgMC4wNTQ5
			NjM0ODUwNSAwLjg1ABABgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIAB
			CBEaIy0yNztBSE5bYpSWmJ2osbm8xdfa3wAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAADh
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0swLjMwMjQxOTM2ABADgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAAC9
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AkAAAAAAAAEBCAAoADVk1vbmFjb9ITFBUWWiRj
			bGFzc25hbWVYJGNsYXNzZXNWTlNGb250ohUXWE5TT2JqZWN0XxAPTlNLZXll
			ZEFyY2hpdmVy0RobVHJvb3SAAQgRGiMtMjc8QktSW2JpcnR2eH+Ej5ifoqu9
			wMUAAAAAAAABAQAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAxw==
			</data>
			<key>FontAntialias</key>
			<integer>0</integer>
			<key>FontWidthSpacing</key>
			<real>0.99596774193548387</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0swLjI1NDAzMjI1ABADgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAAC9
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<integer>0</integer>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0IxABADgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIAB
			CBEaIy0yNztBSFBdZGdpa3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0swLjk0NzU4MDY0ABADgALSEBESE1okY2xhc3NuYW1lWCRj
			bGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLR
			FxhUcm9vdIABCBEaIy0yNztBSFBdZHBydHmEjZWYobO2uwAAAAAAAAEBAAAA
			AAAAABkAAAAAAAAAAAAAAAAAAAC9
			</data>
			<key>name</key>
			<string>ProTransparent</string>
			<key>shellExitAction</key>
			<integer>2</integer>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Red Sands</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECwwLjQ3ODI2MDg3IDAuMTQ1MTA0MzYgMC4xMTY4ODEyMSAw
			Ljg1MDAwMDAyABABgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29s
			b3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEa
			Iy0yNztBSE5bYpGTlZqlrra5wtTX3AAAAAAAAAEBAAAAAAAAABkAAAAAAAAA
			AAAAAAAAAADe
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0IxABADgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05T
			Q29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIAB
			CBEaIy0yNztBSFBdZGdpa3B7hIyPmKqtsgAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC0
			</data>
			<key>CursorType</key>
			<integer>1</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCAAoADXlNGTW9uby1SZWd1bGFy
			0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiFRdYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1JbYmlydHZ4
			h4yXoKeqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECMwLjIzNzkwMzIxIDAuMDk3NjAxMzM5IDAuMDg3NDM0NTIz
			ABACgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNP
			YmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5b
			YoiKjJGcpa2wucvO0wAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADV
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPEBwwLjg3NSAwLjc0MDM4ODQ1IDAuMTMyMTM4NzMAEAGAAtIQ
			ERITWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8Q
			D05TS2V5ZWRBcmNoaXZlctEXGFRyb290gAEIERojLTI3O0FITltigYOFipWe
			pqmyxMfMAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECEwLjg0MzEzNzMyIDAuNzg4MjM1MzcgMC42NTQ5MDE5OAAQ
			AoAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2Jq
			ZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KG
			iIqPmqOrrrfJzNEAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>fontAllowsDisableAntialias</key>
			<integer>0</integer>
			<key>name</key>
			<string>Red Sands</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Silver Aerogel</key>
		<dict>
			<key>BackgroundAlphaInactive</key>
			<real>0.5</real>
			<key>BackgroundBlur</key>
			<real>1</real>
			<key>BackgroundBlurInactive</key>
			<real>0.0</real>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NIMC41IDAuNQAQ
			A4ACgATSEgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNc
			TlNDb2xvclNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05T
			Q29sb3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABAAgAEQAaACMA
			LQAyADcAPQBDAEwAVABhAHYAfQCGAIgAigCMAJEAlgCYAJoAnwCqALMAwADD
			ANAA2QDeAOYA6QD7AP4BAwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAA
			AAEF
			</data>
			<key>BackgroundSettingsForInactiveWindows</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OV05TV2hpdGVcTlNDb2xvclNw
			YWNlViRjbGFzc0UwLjg1ABADgALSEBESE1okY2xhc3NuYW1lWCRjbGFzc2Vz
			V05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFxhUcm9v
			dIABCBEaIy0yNztBSFBdZGpsbnN+h4+Sm62wtQAAAAAAAAEBAAAAAAAAABkA
			AAAAAAAAAAAAAAAAAAC3
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCAAoADXlNGTW9uby1SZWd1bGFy
			0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiFRdYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1JbYmlydHZ4
			h4yXoKeqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFj
			ZVYkY2xhc3NPECQwLjM5NDQzMDA3MTEgMC4zOTk2NDY2OTk0IDAuNTQwNDI4
			NAAQAYAC0hAREhNaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5T
			T2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhO
			W2KJi42SnaausbrMz9QAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA
			1g==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMQAQA4ACgATS
			EgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xv
			clNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3Ki
			HRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2A
			goSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAAAAAA
			AAAAAAAA/w==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATS
			EgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xv
			clNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3Ki
			HRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2A
			goSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAAAAAA
			AAAAAAAA/w==
			</data>
			<key>name</key>
			<string>Silver Aerogel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Solid Colors</key>
		<dict>
			<key>BackgroundImageBookmark</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKMHCA1VJG51bGzSCQoLDFdOUy5kYXRhViRjbGFzc08RAehi
			b29r6AEAAAAAARAQAAAATAEAAAcAAAABAQAATGlicmFyeQAQAAAAAQEAAERl
			c2t0b3AgUGljdHVyZXMMAAAAAQEAAFNvbGlkIENvbG9ycwwAAAABBgAABAAA
			ABQAAAAsAAAACAAAAAQDAAAtgDYDAAAAAAgAAAAEAwAA2tM4AwAAAAAIAAAA
			BAMAAJfUOAMAAAAADAAAAAEGAABUAAAAZAAAAHQAAAAYAAAAAQIAAAIAAAAA
			AAAADwAAAAAAAAAAAAAAAAAAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
			AAAAAAAACgAAAAgAAAAABAAAQbAnRXIAAAAkAAAAAQEAADM1OTAxRjRELUQ1
			RTUtM0E5OC1CODAzLTc3MEM0NUE5RDA2QxgAAAABAgAAgQAAAAEACADvPwAA
			AQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACEAAAA/v///wEAAAAA
			AAAACgAAAAQQAABAAAAAAAAAAAUQAACEAAAAAAAAABAQAACYAAAAAAAAAAIg
			AAA4AQAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAA
			ABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAAIAC0g4PEBFa
			JGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVEYXRhoxASE1ZOU0RhdGFY
			TlNPYmplY3RfEA9OU0tleWVkQXJjaGl2ZXLRFhdUcm9vdIABAAgAEQAaACMA
			LQAyADcAOwBBAEYATgBVAkECQwJIAlMCXAJqAm4CdQJ+ApACkwKYAAAAAAAA
			AgEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAApo=
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NFMC43NQAQA4AC
			gATSEgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlND
			b2xvclNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29s
			b3KiHRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABAAgAEQAaACMALQAy
			ADcAPQBDAEwAVABhAHYAfQCDAIUAhwCJAI4AkwCVAJcAnACnALAAvQDAAM0A
			1gDbAOMA5gD4APsBAAAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAAAAEC
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKQHCBESVSRudWxs1AkKCwwNDg8QVk5TU2l6ZVhOU2ZGbGFn
			c1ZOU05hbWVWJGNsYXNzI0AmAAAAAAAAEBCAAoADXlNGTW9uby1SZWd1bGFy
			0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0ZvbnSiFRdYTlNPYmplY3Rf
			EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS1JbYmlydHZ4
			h4yXoKeqs8XIzQAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADP
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>FontWidthSpacing</key>
			<real>1.004032258064516</real>
			<key>ProfileCurrentVersion</key>
			<real>2.0600000000000001</real>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATS
			EgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xv
			clNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3Ki
			HRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2A
			goSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAAAAAA
			AAAAAAAA/w==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVy
			VCR0b3ASAAGGoKUHCBEVHFUkbnVsbNQJCgsMDQ4PEFdOU1doaXRlXE5TQ29s
			b3JTcGFjZV8QEk5TQ3VzdG9tQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4ACgATS
			EgwTFFROU0lEEAKAA9IWFxgZWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNDb2xv
			clNwYWNlohobXE5TQ29sb3JTcGFjZVhOU09iamVjdNIWFx0eV05TQ29sb3Ki
			HRtfEA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABCBEaIy0yNz1DTFRhdn2A
			goSGi5CSlJmkrbq9ytPY4OP1+P0AAAAAAAABAQAAAAAAAAAjAAAAAAAAAAAA
			AAAAAAAA/w==
			</data>
			<key>name</key>
			<string>Solid Colors</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
